body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.htop {
    display: flex;
}

.hlist {
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.hbottom {
    display: flex;
}
.hmain {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.hsec {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.himg {
    width: 350px;
    height: auto;
}

/* SECOND */

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secbottom {
    display: flex;
}

.secicons {
    display: flex;
    flex-direction: column;
}

.material-icons {
    color: #3882F6;
    font-size: 100px !important;
}

.sectop {
    color: #1f2937;
    font-weight: extra-bold;
    font-size: 36px;
}

/* THIRD */

.third {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 50%;
}

/* FOURTH */
.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fcontainer {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 50%;
    min-height: 150px;
}

.ftext {
    color: #f9faf8;
}

.ftop {
    font-size: 15pt;
}

.fbottom {
    font-size: 10pt;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* MAIN */

a {
    text-decoration: none;
    color: #e5e7eb;
}

